@media only screen and (min-width:400px){
    .footer {
    background: #123243;
    height: 600px;

    & .cards {
        display: flex;
        gap: 20px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        width: 100%;
        padding: 90px 0 60px 0;

        & .cards:active {
            cursor: grabbing;
        }

        & a {
            position: relative;
            width: 250px;
            height: 425px;
            background: #222;
            color: #fff;
            border-radius: 12px;
            flex-shrink: 0;
            text-decoration: none;
            overflow: hidden;
            transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
            box-shadow 0.5s ease, z-index 0.5s ease;
            padding: 10px 15px;

            & img {
                border-radius: 7px;
                min-height: 350px;
                height: 350px;
                width: 100%;
                object-fit: cover;
            }

            & h2 {
                display: flex;
                justify-content: center;
                font-size: 26px;
                color: white;
            }

            & div {
                display: flex;
                justify-content: space-between;

                & p {
                    color: white;
                    font-size: 14px;
                }
            }
        }

        & a:hover {
            background: #F6EBD9;
            transform: scale(1.15) translateY(-10px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
            z-index: 10;


            & h2 {
                color: #123243;
            }

            & div {

                & p {
                    color: #123243;
                }
            }
        }
    }
}
}