@media only screen and (min-width:400px){
    footer{
        background: #123243;
        padding: 20px 0;
        & .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .icons{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px;

                & a{
                    font-size: 18px;
                    color: white;

                    & .i{
                        color: white;
                    }
                }
            }
            
            & div{
                display: flex;
                gap: 10px;
                align-items: center;
                
                & a{
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

                & button{
                    background: none;
                    border: none;
                    color: gray;
                    font-size: 14px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
                }
            }
        }
    }
}
@media only screen and (min-width:700px){
    footer{
        background: #123243;
        padding: 20px 0;
        & .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .icons{
                display: flex;
                gap: 20px;

                & a{
                    font-size: 24px;
                    color: white;
                }
            }
            
            & div{
                display: flex;
                gap: 20px;
                
                & a{
                    text-decoration: none;
                    color: white;
                    font-size: 22px;
                }

                & button{
                    background: none;
                    border: none;
                    color: gray;
                    font-size: 20px;
                }
            }
        }
    }
}