* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:400px){
    .home {
    background: #F6EBD9;

    & .about-us {
        & h1 {
            font-size: 22px;
            color: #123243;
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;

            & img {
                width: 100%;
            }

            & div {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h2 {
                    color: #123243;
                    font-size: 18px;
                }

                & p {
                    color: #123243;
                    font-size: 16px;
                }

                & .bot-btn {
                    font-size: 18px;
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                    background-color: #123243;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 8px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: background 0.3s ease;
                    position: relative;
                    overflow: hidden;
                    width: max-content;
                }

                & .bot-btn .arrow {
                    display: inline-block;
                    transition: transform 0.3s ease;
                }

                /* Hoverda strelka suriladi */
                & .bot-btn:hover .arrow {
                    transform: translateX(5px);
                }
            }
        }
    }

    & .movie {
        margin-top: 30px;

        & h1 {
            color: #123243;
            font-size: 22px;
            margin: 10px 0;
            display: flex;
            justify-content: center;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            width: 100%;
            padding-bottom: 50px;

            & a {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5px;
                min-width: 250px;
                background: #123243;
                color: #fff;
                border-radius: 12px;
                flex-shrink: 0;
                text-decoration: none;
                overflow: hidden;
                transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                box-shadow 0.5s ease, z-index 0.5s ease;
                padding: 10px 15px;

                & img {
                    border-radius: 7px;
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }

                & h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: white;
                }

                & div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & p {
                        color: white;
                        font-size: 18px;
                    }
                }
            }

            & a:hover {
                background: #F6EBD9;
                transform: scale(1.15) translateY(-10px);
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
                z-index: 10;


                & h2 {
                    color: #123243;
                }

                & div {

                    & p {
                        color: #123243;
                    }
                }
            }
        }
    }
}
}

@media only screen and (min-width:750px){
    .home {

    & .about-us {
        & h1 {
            font-size: 26px;
            padding: 15px 0;
        }

        & .cards {

            & img {
                width: 100%;
            }

            & div {

                & h2 {
                    font-size: 22px;
                }

                & p {
                    font-size: 20px;
                }

                & .bot-btn {
                    font-size: 18px;
                }
            }
        }
    }

    & .movie {
        margin-top: 50px;

        & h1 {
            font-size: 22px;
            margin: 15px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;
            padding-bottom: 50px;

            & a {


                & img {
                    border-radius: 7px;
                    min-height: 350px;
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }

                & h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: white;
                }
            }
        }
    }
}
}


@media only screen and (min-width:1000px){
    .home {

    & .about-us {
        & h1 {
            font-size: 28px;
            padding: 20px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            & img {
                width: 100%;
            }

            & div {

                & h2 {
                    font-size: 22px;
                }

                & p {
                    font-size: 18px;
                }

                & .bot-btn {
                    font-size: 18px;
                }
            }
        }
    }

    & .movie {
        margin-top: 100px;

        & h1 {
            font-size: 28px;
            margin: 30px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

        }
    }
}
}

@media only screen and (min-width:1400px){
    .home {

    & .about-us {
        & h1 {
            font-size: 28px;
            padding: 20px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            & img {
                width: 100%;
            }

            & div {

                & h2 {
                    font-size: 22px;
                }

                & p {
                    font-size: 18px;
                }

                & .bot-btn {
                    font-size: 18px;
                }
            }
        }
    }

    & .movie {
        margin-top: 100px;

        & h1 {
            font-size: 28px;
            margin: 30px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

        }
    }
}
}

@media only screen and (min-width:1800px){
    .home {

    & .about-us {
        & h1 {
            font-size: 32px;
            padding: 30px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            & img {
                width: 100%;
            }

            & div {
                gap: 30px;
                & h2 {
                    font-size: 26px;
                }

                & p {
                    font-size: 24px;
                }

                & .bot-btn {
                    font-size: 18px;
                }
            }
        }
    }

    & .movie {
        margin-top: 100px;

        & h1 {
            font-size: 28px;
            margin: 30px 0;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;

        }
    }
}
}




.container {
    width: 80%;
    margin: 0 auto;
}