@media only screen and (min-width:400px){
    .movie-page{
    background: #F6EBD9;

    & .box{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        & .cards{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            margin: 10px 0;
            & img{
                width: 70%;
                height: 400px;
                margin: 0 auto;
            }

            & div{
                width: 70%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h1{
                    font-size: 22px;
                    color: #123243;
                }
                & h2{
                    color: #123243;
                    font-size: 18px;
                }

                & p{
                    font-size: 16px;
                    color: #123243;
                }

                & .bot-btn {
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                    background-color: #123243;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 8px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: background 0.3s ease;
                    position: relative;
                    overflow: hidden;
                    width: max-content;
                }

                & .bot-btn .arrow {
                    display: inline-block;
                    transition: transform 0.3s ease;
                }

                /* Hoverda strelka suriladi */
                & .bot-btn:hover .arrow {
                    transform: translateX(5px);
                }
            }
        }
    }
}
}

@media only screen and (min-width:750px){
    .movie-page{
    background: #F6EBD9;

    & .box{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        & .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            margin: 20px 0;
            & img{
                width: 100%;
                height: 400px;
                margin: 0 auto;
            }

            & div{
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h1{
                    font-size: 24px;
                    color: #123243;
                }
                & h2{
                    color: #123243;
                    font-size: 20px;
                }

                & p{
                    font-size: 18px;
                    color: #123243;
                }
            }
        }
    }
}
}

@media only screen and (min-width:1000px){
    .movie-page{
    background: #F6EBD9;

    & .box{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        & .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            margin: 30px 0;
            & img{
                width: 310px;
                height: 400px;
                margin: 0 auto;
            }

            & div{
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 20px;

                & h1{
                    font-size: 26px;
                }
                & h2{
                    font-size: 22px;
                }

                & p{
                    font-size: 20px;
                }
            }
        }
    }
}
}

@media only screen and (min-width:400px){
    .movies{
background: #F6EBD9;

& .pagination{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;

    & button{
        padding: 5px 15px;
        font-size: 14px;
        background: none;
        border: 1px solid #123243;
        border-radius: 6px;
        cursor: pointer;
    }

    & span{
        font-size: 14px;
    }

    & button:hover{
        background: #123243;
        color: white;
    }
    & button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
}

& .filter{
    display: flex;
    align-items: flex-end;
    gap: 10px;

    & div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & select{
        padding: 5px 20px 5px 10px;
        font-size: 18px;
        width: 100px;
        background: #123243;
        outline: none;
        border: none;
        color: white;
        border-radius: 4px;
    }

    & button{
        padding: 5px 10px;
        height: max-content;
        font-size: 18px;
        color: #123243;
        border-radius: 4px;
        border: 1px solid #123243;
        cursor: pointer;
    }

    & button:hover{
        background: #123243;
        color: white;
    }
}
        & .box {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
            width: 100%;
            padding: 50px 0;

            & a {
                position: relative;
                min-width: 250px;
                background: #123243;
                color: #fff;
                border-radius: 12px;
                flex-shrink: 0;
                text-decoration: none;
                overflow: hidden;
                transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                box-shadow 0.5s ease, z-index 0.5s ease;
                padding: 10px 15px;

                & img {
                    border-radius: 7px;
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }

                & h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: white;
                }

                & div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & h2 {
                        color: white;
                        font-size: 20px;
                    }
                }
            }

            & a:hover {
                background: #F6EBD9;
                transform: scale(1.15) translateY(-10px);
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
                z-index: 10;


                & h1 {
                    color: #123243;
                }

                & div {

                    & h2 {
                        color: #123243;
                    }
                }
            }
        }
}
}

@media only screen and (min-width:750px){
    .movies{
background: #F6EBD9;


& .filter{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    & div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & select{
        padding: 5px 20px 5px 10px;
        font-size: 18px;
        width: 100px;
    }

    & button{
        padding: 5px 10px;
        height: max-content;
        font-size: 18px;
    }

}
        & .box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            width: 100%;
            padding: 50px 0;

            & a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & img {
                    border-radius: 7px;
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }

                & h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 22px;
                    color: white;
                }

                & div {
                    display: flex;
                    justify-content: space-between;

                    & h2 {
                        color: white;
                        font-size: 16px;
                    }
                }
            }
        }
}
}

@media only screen and (min-width:1000px){
    .movies{
background: #F6EBD9;
& .pagination{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;

    & button{
        padding: 5px 15px;
        font-size: 18px;
        background: none;
        border: 1px solid #123243;
        border-radius: 6px;
        cursor: pointer;
    }

    & span{
        font-size: 18px;
    }

    & button:hover{
        background: #123243;
        color: white;
    }
    & button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
}


& .filter{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    & div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & select{
        padding: 5px 20px 5px 10px;
        font-size: 18px;
        width: 100px;
    }

    & button{
        padding: 5px 10px;
        height: max-content;
        font-size: 18px;
    }

}
        & .box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            width: 100%;
            padding: 50px 0;

            & a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & img {
                    border-radius: 7px;
                    min-height: 450px;
                    height: 450px;
                    width: 100%;
                    object-fit: cover;
                }

                & h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: white;
                }

                & div {
                    display: flex;
                    justify-content: space-between;

                    & h2 {
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
}
}

@media only screen and (min-width:1400px){
    .movies{
background: #F6EBD9;


& .filter{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    & div{
        display: flex;
        flex-direction: column;
        gap: 5px;

        & label{
            font-size: 18px;
        }
    }

    & select{
        padding: 5px 20px 5px 10px;
        font-size: 22px;
        width: 170px;
    }

    & button{
        padding: 5px 10px;
        height: max-content;
        font-size: 22px;
    }

}
        & .box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
            width: 100%;
            padding: 50px 0;

            & a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & img {
                    border-radius: 7px;
                    min-height: 350px;
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }

                & h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 20px;
                    color: white;
                }

                & div {
                    display: flex;
                    justify-content: space-between;

                    & h2 {
                        color: white;
                        font-size: 15px;
                    }
                }
            }
        }
}
}

@media only screen and (min-width:1800px){
    .movies{
background: #F6EBD9;


& .filter{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    & div{
        display: flex;
        flex-direction: column;
        gap: 5px;

        & label{
            font-size: 18px;
        }
    }

    & select{
        padding: 5px 20px 5px 10px;
        font-size: 22px;
        width: 170px;
    }

    & button{
        padding: 5px 10px;
        height: max-content;
        font-size: 22px;
    }

}
        & .box {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 40px;
            width: 100%;
            padding: 50px 0;

            & a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & img {
                    border-radius: 7px;
                    min-height: 450px;
                    height: 450px;
                    width: 100%;
                    object-fit: cover;
                }

                & h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: white;
                }

                & div {
                    display: flex;
                    justify-content: space-between;

                    & h2 {
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
}
}